version: '3.8'

services:
  frontend:
    build:
      context: .
      args:
        VITE_LIBRETRANSLATE_API_URL: https://translate-api.justnansuri.com
    ports:
      - "8090:80"
    depends_on:
      - libretranslate

  libretranslate:
    image: libretranslate/libretranslate:latest
    ports:
      - "5050:5000"
    environment:
      - LT_LOAD_ONLY=en,id,ja
